@model IEnumerable<JobTrackerAdmin.Models.Client>

@{
    ViewBag.Title = "ClientDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-8">
        <div class="panel">
            <div class="panel-heading">
                <h2 class="panel-title">Client Details</h2>
                <p>
                    @Html.ActionLink("Create New", "ClientAddEdit")
                </p>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Html.DisplayNameFor(model => model.clientName)</th>
                            <th>@Html.DisplayNameFor(model => model.clientAddress)</th>
                            <th>@Html.DisplayNameFor(model => model.clientContact)</th>
                            <th>@Html.DisplayNameFor(model => model.clientPAN)</th>
                            <th>@Html.DisplayNameFor(model => model.clientGST)</th>
                            <th>@Html.DisplayNameFor(model => model.clientRemarks)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>1</td>
                            <td>@Html.DisplayFor(modelItem => item.clientName)</td>
                            <td>@Html.DisplayFor(modelItem => item.clientAddress)</td>
                            <td>@Html.DisplayFor(modelItem => item.clientContact)</td>
                            <td>@Html.DisplayFor(modelItem => item.clientPAN)</td>
                            <td>@Html.DisplayFor(modelItem => item.clientGST)</td>
                            <td>@Html.DisplayFor(modelItem => item.clientRemarks)</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.clientId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.clientId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.clientId })
                            </td>
                        </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>