@model JobTrackerAdmin.Models.Client

@{
    ViewBag.Title = "ClientAddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-7">
<div class="panel">

    <div class="panel-heading">
        <h2 class="panel-title">Add Client Details</h2>
    </div>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="panel-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.clientId)
        @Html.LabelFor(model => model.clientName, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.clientName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.clientName, "", new { @class = "text-danger" })
              
        @Html.LabelFor(model => model.clientAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.clientAddress, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.clientAddress, "", new { @class = "text-danger" })
           
        @Html.LabelFor(model => model.clientContact, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.clientContact, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.clientContact, "", new { @class = "text-danger" })
        
        @Html.LabelFor(model => model.clientPAN, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.clientPAN, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.clientPAN, "", new { @class = "text-danger" })
        
        @Html.LabelFor(model => model.clientGST, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.clientGST, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.clientGST, "", new { @class = "text-danger" })
        
        @Html.LabelFor(model => model.clientRemarks, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.clientRemarks, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.clientRemarks, "", new { @class = "text-danger" })

        <input type="submit" value="Create" class="btn btn btn-success btn-lg" />
           
       
    </div>
            }
      
    </div>
</div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "ClientDetails")
    </div>
